.h-screen {
  height: 100vh;
}

.logout-image {
	display : none;
}

.globe-profile {
	display : flex;
	justify-content: center;
	align-items: center;
	width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: $primary;
    color : white;
    font-size : 20px;
}

.globe-profile-student {
	display : flex;
	justify-content: center;
	align-items: center;
	width: 50px;
    height: 35px;
    border-radius: 50px;
    color : white;
    font-size : 20px;
}

.dropdown-student {
	min-width : 20rem;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border : none;
	right: 0;
  	left: auto;
}

.modal-backdrop {
	background-color : #00000045;
}

.modal-backdrop.show {
	transition: backdrop-filter 0.9s, background-color 0.9s;
	backdrop-filter: blur(3px);
	opacity: 1;
}

body {
	margin : 0;
	font-family: 'Poppins', sans-serif;
}

.w-15 {
	width : 15% !important;
}

.w-20 {
	width : 20% !important;
}

.w-35 {
	width : 35% !important;
}

.w-40 {
	width : 40% !important;
}

.w-45 {
	width : 45% !important;
}

.w-80 {
	width : 80% !important;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.color-gray {
	color : $gray;
}

.color-plomo {
	color : $plomo !important;
}

.color-black {
	color : $black !important;
}

.bg-plomo {
	background-color: $plomo !important;
}

.color-yellow {
	color: $yellow;
}

// /- Ocultos al cargar
.mobile-display {
	display : none;
}
//-/

// - Estilos layout de Admin
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -8rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 7rem;
}

.sidebar-item {
	padding: 0.6rem 0.9rem;
	font-size: 1rem;
}

.sidebar-item.active {
	background: #31348B;
	border-radius: 53px;
}

.sidebar-item.active .nav-label {
	color: white;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

body #wrapper #sidebar-wrapper .list-group {
  width: 8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

body #wrapper #sidebar-wrapper .list-group-item:not(.active) {
  background-color: transparent;
}

body #wrapper #sidebar-wrapper .list-group-item a.sidebar-link {
  justify-content: center;
}

body #wrapper #sidebar-wrapper .nav-label {
	display : none;
}

@media (min-width: 768px) {

	body #wrapper #sidebar-wrapper .list-group {
		width: 19rem;
	  	padding-left: 1.8rem;
	  	padding-right: 1.8rem;
	}

	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	body #wrapper #sidebar-wrapper .nav-label {
		display : block;
	}

	body.sb-sidenav-toggled #wrapper #sidebar-wrapper .nav-label {
		display : none;
		transition: display 0.25s ease-out;
	}

  	body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    	margin-left: 0rem;
  	}

  	#sidebar-wrapper .list-group {
	  width: 19rem;
	}

	body.sb-sidenav-toggled #wrapper #sidebar-wrapper .list-group {
		width: 8rem;
	 	padding-left: 1.8rem !important;
	 	padding-right: 1.8rem !important;
	}

	body #wrapper #sidebar-wrapper .list-group-item a.sidebar-link {
		justify-content: start;
	}

	body.sb-sidenav-toggled #wrapper #sidebar-wrapper .list-group-item a.sidebar-link {
		justify-content: center;
	}

}

.btn-options {
    background-color: transparent;
    border: none;
}

.btn-options:hover {
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 4px;
}

table.table-admin thead th {        
    font-weight: 500;
    font-size: 1rem;
}

.table-container {
    width : 100%;
    overflow-x : auto;
}

.table-admin {
    width : 73.5em;
}

.modal-header-admin {
    border-bottom: none;
}

.modal-footer-admin {
    border-top-color: #B5B5BB;
    background-color: #F8F8F8;
}

.form-input-admin {
    padding: 9px 16px !important;
}

.form-group-admin label {
    font-weight: 500;
    font-size: 0.9rem;
}

.form-input-admin::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #606060 !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
}

select.form-input-admin {
    color: #606060 !important;
    font-weight: 400 !important;
    font-size: 1rem !important;   
}

@media(max-width: 768px) {
    .btn-admin.btn-primary {
        display: block;
        width: 100%;
    }

    .btn-admin.btn-lg {
        display: block;
        width: 100%;
    }
}

.input-search {
    padding-left : 45px;
}

.input-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #31348B;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.input-search:before {
    content: "";
    background-image: url('/images/search-icon.svg');
    background-repeat : no-repeat;
    background-position-y : center;
    position: absolute;
    top: 0;
    left: 27px;
    height: 100%;
    width: 100%;
}

// - FIN Estilos layout de Admin

.dropdown-menu-right :first-child::after {
	content: "";
    background: #B5B5BB;
    position: absolute;
    top: 61px;
    left: 22px;
    height: 1px;
    width: 87%;
    opacity: 0.1;
}

.dropdown-menu-right a:last-child::after {
	content: "";
    background: #B5B5BB;
    position: absolute;
    bottom: 39px;
    left: 22px;
    height: 2px;
    width: 87%;
    opacity: 0.2;
}

.navbar-toggler {
	border : 0;
}

.navbar .logo {
	width: 90px;
	height: 90px;
}

.navbar .logo.light {
	display: block;
}

.navbar .logo.blue {
	display: none;
}

.icon-menu-student {
    width : 50px;
    height : 50px;
    border-radius : 50px;
    border : 5px solid #31348b;
}

.header-animal-icon {
	padding : 5px;
    width : 75%;
    height : 75%;
    border-radius : 50px;
    border : 6px solid #31348b;
    position : absolute;
    top : 10%;
	left : 9.5%;
    z-index : 2;
}

img.header-animal-icon {
	padding : 5px;
    width : 75%;
    height : 75%;
    border-radius : 50px;
    border : 6px solid #31348b;
    position : absolute;
    top : 10%;
	left : 9.5%;
    z-index : 2;
}

.nickname-header {
	position : absolute;
	font-size : 1.2rem;
	font-weight : 600;
	color : $primary;
	background-color : white;
	padding : 0.3rem 1.8rem 0.3rem 2.8rem;
	border : 7px solid $primary;
	border-radius : 50px;
	margin-left : -50px;
	top : 21%;
	left : 100%;
	z-index : 0;
}

.navbar-nav .dropdown-menu {
	position : absolute;
}

.mr-auto {
	color: #31348B;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 24px;
}

.mr-auto {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.btn-nav-signUp {
	border-radius : 8px;
	width : 110px;
	height: 36px;
	text-align: center;
	font-size: 13px;
	background-color : #E4032F;
	color : white !important;
}

.btn-nav-signIn {
	background: #FFFFFF;
	width : 110px;
	height: 36px;
	font-size: 13px;
	text-align: center;
	border: 1px solid $gray;
	box-sizing: border-box;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.changeLang {
	font-weight: 500;
	font-size: 0.9rem;
	border: none;
}

.changeLang:focus {
	outline: none;
}

/* END - Navbar styles*/

.login-title {
	background-image: url('/images/login-title.svg');
	background-size: 100% 100%;
	height: 70vh;
}

.register-title {
	background-image: url('/images/register-title.svg');
	background-size : 198% 123%;
}

.register-title h1{
	margin-bottom: 6.5rem;
}

/* Inputs */

.btn {
	border-radius: 8px;
	font-style: normal;
	line-height: 24px;
}

.btn-primary-red {
	border-radius: 8px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.input-primary {
	border: 1px solid $primary !important;
	box-sizing: border-box;
	border-radius: 12px;
}

.input-gray {
	border: 1px solid $plomo !important;
	box-sizing: border-box;
}

.form-input { /* Chrome, Firefox, Opera, Safari 10.1+ */
	width: 100%;
    border: 0px;
    border-radius: 12px;
    padding: 9px 16px;
}

.form-input:focus {
	outline: none;
}

.form-input.input-gray::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $plomo;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $primary;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.form-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: $primary;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.form-input::-ms-input-placeholder { /* Microsoft Edge */
	color: $primary;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.form-input {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color : $primary;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.l-select {
	background: #F8F8F8;
	border-radius: 25px;
	border : none;
	padding: 0.5rem;
    padding-left: 15px;
    padding-right: 25px;
    color : $primary;
}

.l-select:hover {
	text-decoration : none;
}

.months {
	padding-left : 50px;
}

.months:before {
	content: "";
    background-image: url('/images/calendar.svg');
    background-repeat : no-repeat;
    position: absolute;
    bottom: 1px;
    left: 15px;
    height: 100%;
    width: 100%;
}
/* END-  Inputs */

.send-link-success {
	width: 110px;
	height: 170px;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 29px;
	line-height: 30px;
}

h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
}

h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 30px;
}

h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 30px;
}

h5 {
	font-style: normal;
	font-weight: 200;
	font-size: 13px;
	line-height: 30px;
}

span.membership-span {
	color : $primary-red
}

h1.course-show-header {
	font-size: 25px;
}

.bold {
	font-weight : bold;
}

.iz-10 {
	width: 10%;
}

.iz-15 {
	width: 15%;
}

.iz-25 {
	width: 25%;
}

.iz-30 {
	width: 30%;
}

.iz-35 {
	width: 35%;
}

.iz-50 {
	width: 50%;
}

.iz-60 {
	width: 60%;
}

.iz-70 {
	width: 70%;
}

.iz-100 {
	width: 100%;
}

.video-container {
	margin-bottom: 1.8rem;
}

.frame-video {
	width : 60%;
	height : 400px;
}

.flag-img {
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50px;
}

.card-rounded {
    background: #FFFEF9;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 1em;
}

.card .flag-img {
	opacity: 0.86;
	margin: 1rem;
	width: 60px;
	height: 60px;
}

.card-course-deck {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.card-course-deck .card-body {
	padding-top: 2.3rem;
	padding-bottom: 4rem;
}

.card-course-deck .btn-buy {
	border-radius: 10px;
	width : 55%;
}

.card-course-deck .btn-buy h1 {
	font-weight: bold;
	font-size: 20px !important;
}

.card-course-carrousel {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.card-course-carrousel .card-body {
	padding-top: 2.3rem;
	padding-bottom: 6rem;
}

.card-course-carrousel .btn-buy {
	border-radius: 8px;
	padding: 0.8rem 2rem 0.8rem 2rem;
}

.card-course-carrousel .btn-buy h1 {
	font-weight: bold;
	font-size: 30px !important;
}

.bg-gray {
	background-color: $gray;
}

.gray-back {
	background-color: $off-white;
	border: 0;
}

.nav-tabs .nav-link {
	border-color: #31348B !important;
}

.nav-tabs .nav-link.active {
	background-color: #31348B !important;
	color: #FFF !important;
}

.card-membership-mobile {
	background: #FFFFFF;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin: 1.5rem;
	padding: 2rem 1rem 2rem 1rem;
}

.card-membership-mobile ul{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: $plomo;
}

.container-navbar {
	display : flex !important;
	flex-direction : row !important;
	justify-content : start !important;
}

.student-flags-group {
	position : absolute;
	top : 39%;
}

.background-component {
	background-image: url('/images/estrellas.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-none {
	background-color: transparent;
}

/* Footer styles*/
footer,
.footer-link {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: $gray;
}

.footer-list > li {
	list-style: none;
}

.footer-divider {
	border: 1px solid $gray;
	width: 85%;
}

.second-footer-divider {
	border: 1px solid $gray;
	padding : 0;
	width: 90%;
}

footer.courses-footer {
	padding-top: 20px;
	background-color : #31348B;
	color: #FFFFFF;
}

.img-btn, .transparent-button, .btn-logout {
	border : none;
	border-radius : 50px;
	background: transparent;
}

button.active {
	background-color : $primary;        
}

/* END - Footer styles*/

/* Media queries styles*/
@media (max-width: 425px){

	.navbar .logo.light {
		display: none;
	}

	.navbar .logo.blue {
		display: block;
	}

	.logout-image {
		display : inherit;
	}

	.span-logout {
		display : none;
	}

	.title-login {
		display : none;
	}

	.register-login {
		display : none;
	}

	.reset-pw-link {
		margin-top: 1.8em;
	}

	.links-container-footer {
		flex-direction: column !important;
		text-align: center;
	}

	.links-container-footer ul {
		padding: 0 !important;
	}

	.frame-video {
		width : 100%;
	}

	.card-deck-courses {
		display : none;
	}

	.carousel {
		display : inherit;
	}

	.web-display {
		display : none;
	}

	.mobile-display {
		display : inherit;
	}

	.left-panel {
        width : 100%;
        height : 100%;
        position :absolute;
        top : 0;
        left : -100%;
        transition : left 0.4s;
        z-index : 1041;
    }
}

@media (max-width: 768px){

	footer.courses-footer ul {
		padding-left : 20px;
	}

	.register-title {
		display : none !important;
	}

	.login-title {
		display : none !important;
	}

	.card-deck-courses {
		display : none;
	}

}

@media (min-width: 426px){

	.left-panel {
        width : 40%;
        height : 100%;
        position :absolute;
        top : 0;
        left : -100%;
        transition : left 0.4s;
        z-index : 1041;
    }

}

@media (min-width: 769px){

	.divAdd-profile img {
		width : 10%;
	}

}
/* END - Media queries styles*/