.h-screen {
  height: 100vh;
}

body {
	margin : 0;
}
/* Navbar styles*/
/*.navbar {
	height : 100px;
	font-family: 'Poppins';
}*/

.navbar-toggler {
	border : 0;
}

.navbar .logo {
	width: 90px;
	height: 90px;
}

.mr-auto {
	color: #31348B;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 24px;
}

.mr-auto {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.nav-link {
	color: #31348B !important;
}

.btn-nav-signUp {
	border-radius : 8px;
	width : 110px;
	height: 36px;
	text-align: center;
	font-size: 13px;
	background-color : #E4032F;
	color : white !important;
}

.btn-nav-signIn {
	background: #FFFFFF;
	/* Gris claro */
	width : 110px;
	height: 36px;
	font-size: 13px;
	text-align: center;
	border: 1px solid #B5B5BB;
	box-sizing: border-box;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}
/* END - Navbar styles*/

.login-title {
	background-image: url('../storage/images/login-title.png');
	background-size: 100% 100%;
}

.register-title {
	background-image: url('../storage/images/register-title.png');
	background-size: 100% 100%;
}

/* Inputs */
.btn-primary-red {
	border-radius: 8px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.input-primary {
	border: 1px solid $primary;
	box-sizing: border-box;
	border-radius: 12px;
}

.form-input { /* Chrome, Firefox, Opera, Safari 10.1+ */
	width: 100%;
    border: 0px;
    border-radius: 12px;
    padding: 12px 16px;
}

.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $primary;
            font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
}

.form-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: $primary;
            font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
}

.form-input::-ms-input-placeholder { /* Microsoft Edge */
			color: $primary;
            font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
}

.form-input {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color : $primary;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
}
/* END-  Inputs */

.send-link-success {
	width: 110px;
	height: 170px;
}

h1 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

h2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

/* Footer styles*/
footer,
.footer-link {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #B5B5BB;
}

.footer-list > li {
	list-style: none;
}

.footer-divider {
	border: 1px solid #B5B5BB;
	width: 85%;
}

.second-footer-divider {
	border: 1px solid #B5B5BB;
	padding : 0;
	width: 90%;
}

footer.courses-footer {
	padding-top: 20px;
	background-color : #31348B;
	color: #FFFFFF;
}

/* END - Footer styles*/

/* Media queries styles*/
@media (max-width: 425px){

	.title-login {
		display : none;
	}

	.register-login {
		display : none;
	}

	.reset-pw-link {
		margin-top: 1.8em;
	}

	footer.courses-footer ul {
		display : none;
	}

}

@media (max-width: 768px){

	footer.courses-footer ul {
		padding-left : 20px;
	}

}
/* END - Media queries styles*/