// Body
$body-bg: #FFFFFF;
$body-color: #31348B;;
// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FAB500;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray: #B5B5BB;
$plomo: #606060;
$primary: #31348B;
$success: #00A53F;
$primary_red: #E4032F;
$off-white: #F8F8F8;

$theme-colors: (
	"primary-red" : $primary_red
);

// Inputs
$input-placeholder-color: $primary;

